<div class="taco">
<div class="footer" name="footer">
	<div id="outerfooter">
			<div class="container">
				<div class="row">
					<div id="innerfooter">
						<div class="span1">
							
						</div>
						<div class="span10">
							<h3 id="footer" align="center">Made In GVL in <a href="https://www.google.com/maps/preview#!q=2+N.+Main+Street+Greenville%2C+SC+29601&data=!4m10!1m9!4m8!1m3!1d1796235!2d-80.9266145!3d33.6244971!3m2!1i1067!2i811!4f13.1">the Open at 2 N. Main Street, Greenville SC 29601</a> -- 800.890.1702 x0</h3>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
</div>

<!--end about!--> <div id="cityscape"> </div>


<script src="js/app.js" ></script> </body>

</html>
